<!DOCTYPE HTML>

<html>
<head>
    <!-- register service worker -->
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
		    navigator.serviceWorker.register('{{url_for('static',filenam='sw.js')}}')
                    .then(function() {
                        console.log("Service Worker Registered");
                    });
            });
        }
    </script>
    <!-- end of service worker -->
    <!-- start of web manifest -->
    <link rel="manifest" href="{{url_for('static',filename='manifest.json')}}">
    <!-- end of web manifest -->
    <!-- theme-color -->
    <meta name="theme-color" content="#fff" />
    <!-- end-theme-color -->
    <script src="{{url_for('static',filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='skel.min.js')}}"></script>
    <script src="{{url_for('static',filename='util.js')}}"></script>
    <script src="{{url_for('static',filename='respond.min.js')}}"></script>
    <script src="{{url_for('static',filename='responsive.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}" />
    <title>PWA Fire Codelab Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="icons/pwafire192white.png">

</head>

<body class="">

    <div id="wrapper">

        <article id="home" class="panel special" style="display: flex;">

		<div class="image" style="background-image: url(&quot;{{url_for('static',filename='maythutun1.jpg')}}&quot;); background-position: center center;">

			<img src="{{url_for('static',filename='maythutun1.jpg')}}" alt="" data-position="center center" style="display: none;">

            </div>

            <div class="content">

                <div class="inner">

                    <header>
                        <h1>May Thu Htun</h1>

                        <p>A Student in Computer University.
                            <br> Creator of Project
                            <br><a href="https://github.com/gold-mdy-geo">gold-mdy-geo</a></p>

                    </header>

                    <nav id="nav">

                        <ul class="actions vertical special spinY">

                            <li>

                                <a href="#work" class="button">Work</a></li>

                            <li><a href="#about" class="button">About</a></li>

                            <li><a href="#contact" class="button">Contact</a></li>

                        </ul>
                    </nav>

                    <ul class="icons">
                        <li>

                            <a href="https://twitter.com/mayeedwin1" class="icon fa-twitter">

                                <span class="label">Twitter</span></a>
                        </li>
                        <li><a href="https://facebook.com/mayeedwin" class="icon fa-facebook"><span class="label">Facebook</span></a></li>

                        <li><a href="https://github.com/MayThuHtun" class="icon fa-github"><span class="label">GitHub</span></a></li>

                        <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a>

                        </li>

                    </ul>

                </div>

            </div>

        </article>

        <article id="work" class="panel secondary inactive" style="display: none;">

		<div class="image" style="background-image: url(&quot;{{ url_for('static',filename='School.jpg')}}&quot;);background-position: center center;">
			<img src="{{url_for('static',filename='School.jpg')}}" alt="" data-position="center center" style="display: none;">
            </div>
            <div class="content">
                <ul class="actions spinX">
                    <li>

                        <a href="#home" class="button small back">Back</a></li>

                </ul>

                <div class="inner">
                    <header>
                        <h2> Work</h2>
                    </header>
                    <header>
                        <p>Currently</p>
                    </header>
                    <p>Web Begineer,learn Web Site and python.</p>

                    <header>

                        <p>Previously</p>

                    </header>

                    <p>
                        I am a Stufent in Computer University Mandalay.
                        <ul class="actions spinX">
                            <li>
                                <a href="https://github.com/MayThuHtun" class="button small forward">Expand</a>
                            </li>
                        </ul>

                    </p>

                </div>

            </div>

        </article>

        <article id="about" class="panel secondary inactive" style="display: none;">

		<div class="image" style="background-image: url(&quot;{{url_for('static',filename='Group.jpg')}}&quot;); background-position: center center;">
			<img src="{{url_for('static',filename='Group.jpg')}}" alt="" data-position="center center" style="display: none;">
            </div>

            <div class="content">

                <ul class="actions spinX">

                    <li>

                        <a href="#home" class="button small back">Back</a>

                    </li>

                </ul>

                <div class="inner">

                    <header>

                        <h2>About</h2>
                        <p>Final year student
                            <br> Computer University mandalay</p>

                    </header>
                    <p>
                        I am a Student in Computer University Mandalay.I love web page and I want to be a best web Developer.
                    </p>

                    <p>

                        Creator of <a href="https://github.com/gold-mdy-geo"> Gold-Mdy-Geo</a>is my first page.

                    </p>

                </div>

            </div>

        </article>

        <article id="contact" class="panel secondary inactive" style="display: none;">

		<div class="image" style="background-image: url(&quot;{{url_for('static',filename='maythutun.jpg')}}&quot;); background-position: center bottom;">

			<img src="{{url_for('static',filename='maythutun.jpg')}}" alt="" data-position="bottom center" style="display: none;">

            </div>
            <div class="content">

                <ul class="actions spinX">

                    <li><a href="#home" class="button small back">Back</a></li>

                </ul>

                <div class="inner">

                    <header>

                        <h2>Let's Talk</h2>

                    </header>

                    <form name="contactform" method="post" action="assets/send-email.php">

                        <div class="field half first">

                            <label for="name">Name</label>
                            <input type="text" name="name" id="name">

                        </div>
                        <div class="field half">
                            <label for="email">Email</label>

                            <input type="text" name="email" id="email">
                        </div>

                        <div class="field">
                            <label for="message">Message</label>

                            <textarea name="message" id="message" rows="5"></textarea>

                        </div>

                        <ul class="actions">

                            <li>

                                <a href="#" class="button submit">Send Message</a>

                            </li>

                        </ul>

                    </form>

                </div>

            </div>

        </article>

        <footer id="footer" class="">

            <p class="copyright">© May Thu Htun 2018</p>

        </footer>

    </div>
    <script src="assets/buttons-navigate.js"></script>
</body>
</html>
